# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\_SCHULE\5BHEL\FSST\IntelliJ\gitProjects\2122_5BHEL_pscholle_amaxner_dweinsta_manzinge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
